#name {
    background: #4aaaa5;
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
}

#buttons {
    background-color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif; 
    color: #777777;
    border-bottom: 1px solid #777777;
}

#buttons a {
    color: #777777;
    margin-top: 18px;
    margin-right: 4px;
    border-left: 2px solid #777777;
    font: 15px;
}

#about {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
    background-color: #ffffff;
    font-size: 30px;
    padding-top: 10px;
}

body {
    padding-top: 20px;
    background: #dddddd;
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}

p {
    color: #777777;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: #ffffff;
    font-size: 15px;
    line-height: 40px;
    width: 100%;
}

#title1 {
    font-size: 15px;
}

#foot {
    text-align: center;
    background: #666666;
    border-top: 5px solid #4aaaa5;
    color: #ffffff;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
}

#icon {
    border: 5px;
    background-color: black;
    padding: 5px;
    margin: 10px;
}

#about {
    width: 100%;
}